.project-grid, .project-grid-samples {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin: 30px 0;
}

@media (min-width: 1024px) {
    .project-grid, .project-grid-samples {
      grid-template-columns: repeat(2, 1fr);
      
    }
}

.project-card {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 25px;
  border: 2px solid var(--color-border);
  background-color: var(--color-bg);
}

.project-card__title {
  color: var(--color-text);
}

.project-card__emoji {
  margin-right: 8px;
}

.project-card h4 {
  margin: 2rem 0;
}

.project-card__tag {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

/*
.project-card__tag:hover {
  background-color:var(--color-secondary);
  color: var(--color-text-alt);
}
  */

/* Custom css */
.cover-img-container a {
  border-bottom:none;
}

.cover-img-container img {
  margin-bottom:0;
  margin-top:1.3rem;
  border: 1px solid var(--border-img-color);
}

.project-card p {
  color: var(--color-secondary);
  
  font-size: 1em;
}

.project-card .tag-list-title {
  font-family: "Public Sans Bold", var(--font-family-base);
  margin: 0;
}