<footer class="site-footer">
  <small>
    This website uses <a href="https://github.com/tylerMRoderick/fernfolio-11ty-template">Fernfolio</a>.
    © Copyright 2022 | Natalie H. Man.
  </small>
</footer>
