{# How to sort posts by title 
  https://github.com/11ty/eleventy/issues/898#issuecomment-897071947
  After the <div class="project-grid"> line, within {% for post in projectlist | ...) %}
  The original was {% for post in projectlist | reverse %}
  But I defined the 'order' parameter in the frontmatter of all project markdown files and now
  the projects will be sorted based on the order number I set starting from 1 being the first
  item to appear on the homepage
#}

<section>
    <!-- 
      added if statement for work sample grid class to change to one column layout otherwise use default
      grid layout
    -->
    {% if projectlist === collections['work sample'] %}
      <div class="project-grid-samples">
    {% else %}
      <div class="project-grid">
    {% endif %}
    {% for post in projectlist | sort(false, false, 'data.order') %}
      <div class="project-card" {% if post.url == url %} data-current="current item"{% endif %}>
      {% if post.data.cover %}
        <div class="cover-img-container">
          <a href="{{ post.url | url }}"><img src="/static/img/{{ post.data.cover }}" alt=""></a>
        </div>
      {% endif %}
        <h4>
          <a class="project-card__title" href="{{ post.url | url }}">
          <!--  {% if post.data.title %}
              <span class="project-card__emoji">{{ post.data.emoji }}</span>
            {% endif %}
          -->
            {% if post.data.title %}
              {{ post.data.title }}
            {% else %}
              Untitled
            {% endif %}
          </a>
        </h4>
        {% if post.data.summary %}
          <p>
            {{ post.data.summary }}            
          </p>
        {% endif %}
        
        <!--
        {% if post.data.client %}
          <p class="project-card__client">
            Client: <img src="/static/img/{{ post.data.clientLogo }}" alt="{{ post.data.client }}"/>
          </p>
        {% endif %}
        -->
        
        <!-- added condition to hide tags with "case study" and "work sample" in files -->
        <!-- disable tags to prevent them to be clickable urls -->
        {% if post.data.tags %}
          <p class="tag-list-title">Covering:</p>
          <p class="tag-list">
            {% for tag in post.data.tags %}
              {%- if tag != "project" and tag != "case study" and tag != "work sample" -%}
                <!-- {% set tagUrl %}/project-tags/{{ tag }}/{% endset %}
              <a class="project-card__tag tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a> -->
              <span class="project-card__tag tag">{{ tag }}</span>
              {%- endif -%}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
