---
layout: layouts/base.njk
section: work samples
---
<div class="page-container">
  <div class="title-block">
    <h1>{{title}}</h1>
    {% if subtitle %}
      <p>{{ subtitle }}</p>
    {% endif %}
  </div>
  
  {{ layoutContent | safe }}

  {% set projectlist = collections['work sample'] %}
  {% include "components/projectlist.njk" %}
</div>